
.form_content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form{
    width: 600px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius:10px;
    overflow-y: auto;
}

form .element{
    display: flex;
    flex-direction: column;
    height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin: 10px auto 0 auto;
}

form .element input, form .element select{
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form .element label{
    color: #ffffff;
}

form .element button{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
    background-color: #0f0c29;
    color: #ffffff;
    font-weight: 600;
}
.mensaje-exito {
    position: fixed; /* Hace que el mensaje se quede fijo en la pantalla */
    top: 10px; /* Distancia desde el top de la pantalla */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Asegura que esté completamente centrado */
    background-color: #4caf50; /* Color de fondo verde */
    color: white; /* Texto blanco */
    padding: 15px; /* Espaciado */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    z-index: 9999; /* Se asegura de que el mensaje esté por encima de otros elementos */
    opacity: 1; /* Inicialmente visible */
    transition: opacity 0.5s ease-out; /* Desvanecer el mensaje */
  }
  
  .mensaje-exito.hidden {
    opacity: 0; /* Hace que el mensaje se desvanezca */
  }
  